<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c04_t01_s01_f01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,768}}</string>
                <key>sourceSize</key>
                <string>{960,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FreeWarsTextureGallery.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:097fd6e35be093d844c0ff7e57d62a42:6c2b3397ea6b58c984ebebaa3bbd3ac8:468b28e6ab821a8ff3fd69520a318fdb$</string>
            <key>textureFileName</key>
            <string>FreeWarsTextureGallery.pvr.ccz</string>
        </dict>
    </dict>
</plist>
